*, body {
  font-family: sans-serif;
}

.data {
  margin: 0 auto;
  text-align: left;
}

p {
 margin: 1em 2em;
 font-size: 15px;
}

.description {
  text-align: center;
}

.title {
  font-family: sans-serif;
  color: rgb(88, 185, 43);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.sub-title {
  color: rgb(28, 182, 202);
  font-size: 16px;
  font-weight: inherit;
}

.error-msg {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid;
  border-color: #f5c6cb;
  border-radius: .25rem;
}

.radio-content {
  display: flex;
  justify-content: center;
  vertical-align: top;
}

.radio-label {
   margin-right: 1%;
}

.btn-sub {
  display: flex;
  margin: 0 auto;
  font-weight: 400;
  color: #28a745;
  border-color: #28a745;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-sub:hover {
  color: white;
  background-color: rgb(26, 145, 125);
}

// Dropdown
.genderData {
  margin: 0 4%;
}

.dropbtn {
  color: #28a745;
  padding: 5px;
  font-size: 16px;
  border: solid #28a742;
  cursor: pointer;
  border-radius: 9px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

//esconder contenido
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

//datos dentro
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #c8f192}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: white;
  font-size: medium;
  background-color: rgb(26, 145, 125);
}
