
<div class="error-msg" *ngIf="errorMsg">{{ errorMsg }}</div>

<form class="dgn-from" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <!-- si genero y edad esta vacio se muestra-->
  <div *ngIf="isSignedUp == true; else fullForm">
    
    <ng-container *ngIf="resp?.should_stop; else falseBlock" >
      <h3 class="title">{{triage?.label}}</h3>
      <p class="description">{{triage?.description}}</p>
    </ng-container>
    
    <ng-template #falseBlock >
      <h3 class="title">{{resp?.question?.text}}</h3>
      <ng-container *ngIf="resp?.question?.type == 'group_single'; else noGroupSingleType">
        <ng-container *ngFor="let item of resp?.question?.items">
          <input class="radio-input" type="radio" name="group_single" ngModel [value]="item?.id">
          <label class="sub-title">{{ item?.name }}</label>
          <p>{{ item?.explanation }}</p>
        </ng-container>
      </ng-container>
      <ng-template #noGroupSingleType>
        <ng-container *ngFor="let item of resp?.question?.items">
          <p class="sub-title">{{ item?.name }}</p>
          <p>{{ item?.explanation }}</p>
          <div class="radio-content">
          <ng-container *ngFor="let choice of item?.choices">
              <input class="radio-input" type="radio" [name]="item?.id" ngModel [value]="choice?.id"> <!-- p12 -->
              <label class="radio-label">{{ choice?.label }}</label>
            </ng-container>
          </div>
        </ng-container>
      </ng-template> 
      <br>
      <button class="btn-sub" type="submit" [disabled]="isRequesting">Accept</button>
    </ng-template>
  </div>

  <!-- solo si genero y edad estan seleccionados-->
  <ng-template #fullForm>
    <div class="data">
      <h3 class="title">Ingresa tu información</h3>
      <p>Esta información es importante para tener un mejor diagnostico</p>
      <p>Tu edad (años): <input type="number" name="agePerson" [(ngModel)]="age" /></p>
      <div class="genderData">
        <label>Genero:</label>
        <div class="dropdown">
          <div class="dropbtn">{{ gender != "" ?  (gender == 'female' ? 'femenino' : 'masculino') : 'slecciona el genero'}}</div>
          <div class="dropdown-content">
            <a (click)="onSelectGender('male')">masculino</a>
            <a (click)="onSelectGender('female')">femenino</a>
          </div>
        </div>
      </div>
      <button class="btn-sub" type="submit" [disabled]="isRequesting">Accept</button>
    </div>
  </ng-template>

</form>
